
/*STYLING FOR HOME PAGE*/

/*creates full background image that responds to viewport size
  Also sets font style*/
div.full-img {

	font-family: 'Varela Round', Helvetica Neue, Helvetica, sans-serif;
	height: 100vh;
	background-image: url(../img/skyline.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/*Gives navigation bars font style*/
.navigation {
	font-family: 'Varela Round', sans-serif;
	font-variant: small-caps;
}

/*style for header: 
  - adjusts size of linkedin logo
  - adjusts color of header text, and padding
  - makes navbar links inline and spaces them out*/
div.headerNav .linkedin {
	fill: currentColor;
	height: 1.3em;
}
div.headerNav a {
	color: white;
	padding-right: 1em;
}
div.headerNav li {
	margin-top: 10px;
	float: right;
	display: inline;
}

/*style for footer: 
  - adjusts size and color of linkedin logo
  - adjusts color and of footer text and padding
  - makes nav links inline and spaces them out*/
div.footerNav a {
	color: black;
	padding-right: 1em;
}
div.footerNav .linkedin {
	fill: currentColor;
	height: 1.3em;
}
div.footerNav li {
	display: inline;
}
div.footerNav {
	text-align: center;
	padding: 35px 0 35px;
	background-color: #f3f3f3;
}

/*gets rid of underline links on hover*/
a:hover {
	text-decoration: none;
	color: #cccccc;
}

/*style for titles: 
  - Positions all titles to center of page
  - Adjusts margin of main title
  - adjusts size and position of subtitle*/
.titles {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}
h1.title {
	font-weight: bold;
	margin: 0;
	transition: font-size 0.5s;
}
h2.subtitle-main {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 2em;
	transition: font-size 1s;
}

/*Settings to optimize for mobile*/
@media screen and (max-width: 768px) {
	/*Change title font size*/
	h1.title {
		font-size: 3em;
	}
	/*change subtitle font size*/
	h2.subtitle-main {
		font-size: 1.5em;
	}
	/*center text*/
	.project-info {
		text-align: center;
	}
}

/*style for projects section: 
  - Set fonts for projects section
  - Align heading for projects section
  - displays max width images of the gifs that preview the project
  - adjust margins on the whole project section*/
.projects {
	font-family: 'Karla', Helvetica Neue, Helvetica, sans-serif;
}
h1.projects-heading {
	text-align: center;
}
img.projectGif {
	display: block;
	margin-left: auto; 
	margin-right: auto;
	width: 100%;
	height: auto;
}
.projectContainer {
	margin-top: 40px;
	margin-bottom: 40px;
}
.proj-title {
	font-weight: bold;
}

/*adjust margin on the chips*/
div.chip {
	margin-bottom: 5px;
}

/*divider between each separate project*/
hr.project-split {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
