@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/*Styling for body section of about page
 - adds font and positioning, as well as transition to adjust size*/
#bio {
	margin: -6em auto 8em auto;
	/*transition: margin-top 0.5s;*/
}

#bio, #contact-body {
	max-width: 750px;
}

#bio, #contact-body, #projects-body {
	font-family: 'Lato', Helvetica Neue, Helvetica, sans-serif;
}

#contact {
	margin-bottom: 4em;
}
/*Style for body of contact page
 - sets body font, and aligns text to center*/
#contact-body {
	text-align: center;
}

#footer {
	text-align: center;
	padding: 20px 0 20px; /*padding was 35px 0px 35px when links are in footer*/
	background-color: #e6e6e6;
}
#footertext {
	margin-top: 10px;
}

#footer, #navbar, #image-home {
	font-family: 'Varela Round', Helvetica Neue, Helvetica, sans-serif;
}

/*Adjusts positioning of "get in touch" text*/
#getintouch {
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}


/*style for titles (that appear over the image)*/
#hometitle {
	top: 54%;
}

/*#hometitle, .sectiontitle, #profile-pic {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}*/
#hometitle {
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

a:hover, a:link {
	text-decoration: none;
}
a:visited {
	background-color: #cccccc;
}
/*gets rid of underline links and change color on hover*/
a:hover {
	color: #cccccc;
}
a:focus {
	color: #000;
}

/*positions text that tells user that s/he can hover over
  image to view preview*/
.hover-over-img, .tap-img {
	margin-top: 10px;	
	text-align: center;
}

i {
	color: black;
	padding-top: 5px;
	border: solid 2px;
	border-radius: 50%;
	width: 45px;
	height: 45px;
}

i:hover {
	color: #cccccc;
}

/*Style for icons
 - adjusts position of icon div, and icons in relation to each other
 - changes colors of the links, and addes a rounded border to each icon*/
#icons {
	text-align: center;
	margin-bottom: 2em;
}

/*Background image positioning and sizing
 - adds a transition for height of image section for smaller screens*/
#banner-about {
	background-image: url(../img/desktop.jpg);
}

#banner-contact {
	background-image: url(../img/sunset.jpg);
}

#banner-about, #banner-contact {
	height: 60vh;
}

/*Style for Contact page background image
 - positions image and changes font of text*/
#banner-about, #banner-contact, #image-home {
	transition: height 0.8s;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/*creates full-size background image that responds to viewport size
  Also sets font style*/
#image-home {
	height: 100vh;
	background-image: url(../img/julian-rooftop.jpg);
}


.link {
	color: black;
	font-size: 16px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 24px;
	padding-top: 24px;
}

#navbar {
	background-color: rgba(192,192,192,0.5);
	border: none;
	height: 60px;
}
.navitem {
	display: inline;
	text-decoration: none;
}
/*.navitem a:focus{
	color:#000;
}*/
#navlist {
	float: right;
	margin-top: 17px;
	padding-right: 15px;
}

#profileImg-div {
	width: 35%;
	max-width: 200px;
	margin: 0 auto 2em;
}

/*Positioning and sizing of profile image
 - adds transitions to adjust image size for smaller screens*/
#profile-pic {
	max-width: 100%;
	border: 4px solid white;
	border-radius: 50%;
}

#projects-body {
	margin-bottom: 5em;
}
/*style for projects section: */
.projectImg {
	display: block;
	margin: 30px auto 0 auto;
/*	margin-left: auto; 
	margin-right: auto;*/
	width: 100%;
	height: auto;
}
#project-heading {
	margin-top: 1em;
	text-align: center;
	font-size: 51px;
}
.projectContainer {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 85%;
	max-width: 978px;
}

.proj-title {
	font-weight: bold;
}

/*divider between each separate project*/
.project-split {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.proj-title, #getintouch {
	font-size: 33px;
}

/*style for contact title (text over background image)
 - positions on page, and changes font color*/
/*.sectiontitle {
	position: relative;
	top: 30%;
	color: white;
	text-align: center;
}*/
.skills {
	padding-left: 0px;
}
.skills li{
	display: inline;
	font-weight: bold;
	line-height: 220%;
	padding: 4px 9px;
	margin-right: 5px;
	background-color: #bfbfbf;
	border-radius: 4px;
}

.social-icon {
	margin-left: 10px;
	margin-right: 10px;
}

.subtitle {
	font-weight: bold;
}

.subtitle-main {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 28px;
	transition: font-size 1s;
	animation-delay: 0.9s; 
	-moz-animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s;

}

.text-body {
	font-size: 18px;
}

/*adjusts position of text before icons*/
#text-before-icons {
	margin-top: 50px;
	margin-bottom: 20px;
}

.title {
	font-weight: bold;
	font-size: 60px;
	margin: 0;
	transition: font-size 0.5s;
	animation-delay:0.3s; 
	-moz-animation-delay:0.3s; 
	-webkit-animation-delay:0.3s;
}

.section-title {
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 1.3em;
}

.type {
	font-size: 21px;
}

@media screen and (min-width: 768px) {
	/*hide tap-img text on screens larger than 768px*/
	.tap-img {
		display: none;
	}
}

/*Settings to optimize for mobile devices*/
@media screen and (max-width: 768px) {
	#bio {
		/*margin-top: 100px;*/
		margin-bottom: 5em;	
	}
	.hover-over-img {
		display: none;
	}
	#banner-about, #banner-contact {
		height: 45vh;
	}
	.link {
		font-size: 14px;
	}
	#profileImg-div {
		margin: 1.5em auto 2em;
	}
	.project-info {
		text-align: center;
	}
	.subtitle-main {
		font-size: 18px;
	}
	.text-body {
		font-size: 16px;
	}
	.title {
		font-size: 45px;
	}
}


