
.footer {
	font-family: 'Varela Round', sans-serif;
	font-variant: small-caps;
	text-align: center;
	padding: 5px 0 5px; /*padding was 35px 0px 35px when links are in footer*/
	background-color: #f3f3f3;
}
.footertext {
	margin-top: 10px;
}

/*creates full-size background image that responds to viewport size
  Also sets font style*/
.full-img {
	font-family: 'Varela Round', Helvetica Neue, Helvetica, sans-serif;
	height: 100vh;
	background-image: url(../img/julian-rooftop.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/*style for titles (that appear over the image): 
  - Positions all titles to center of page
  - Adjusts margin of main title
  - adjusts size and position of subtitle as well as adding delay to the animation*/
.hometitles {
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

/*gets rid of underline links and change color on hover*/
a:hover {
	text-decoration: none;
	color: #cccccc;
}

/*positions text that tells user that s/he can hover over
  image to view preview*/
#hover-over-img {
	margin-top: 10px;	
	text-align: center;
}


.link {
	color: black;
	font-size: 1.1em;
}

.navbar {
	font-family: 'Varela Round', sans-serif;
	background-color: rgba(192,192,192,0.5);
	border: none;
	height: 60px;
}
.navitem {
	display: inline;
	padding-right: 15px;
	text-decoration: none;
}
#navlist {
	float: right;
	margin-top: 17px;
}

/*style for projects section: 
 - sets fonts, font sizes, font weight
 - positions png/gifs of projects*/
#projects {
	font-family: 'Karla', Helvetica Neue, Helvetica, sans-serif;
}
.projectGif {
	display: block;
	margin-left: auto; 
	margin-right: auto;
	width: 100%;
	height: auto;
	border: solid 1px;
}
#project-heading {
	text-align: center;
	font-size: 38pt;
}
.projectContainer {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 85%;
	max-width: 978px;
}
.text-body {
	font-size: 13pt;
}
.proj-title {
	font-weight: bold;
}

/*divider between each separate project*/
.project-split {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.proj-title, #skills, #getintouch {
	font-size: 25pt;
}

.subtitle-main {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 2em;
	transition: font-size 1s;
	animation-delay:0.7s; 
	-moz-animation-delay:0.7s; 
	-webkit-animation-delay:0.7s;

}
.title {
	font-weight: bold;
	font-size: 43pt;
	margin: 0;
	transition: font-size 0.5s;
}

/*Settings to optimize for mobile devices*/
@media screen and (max-width: 768px) {
	/*Change title font size*/
	.title {
		font-size: 3em;
	}
	/*change subtitle font size*/
	.subtitle-main {
		font-size: 1.5em;
	}
	/*center text*/
	.project-info {
		text-align: center;
	}

	.text-body {
		font-size: 11pt;
	}
}
/*STYLING FOR ABOUT PAGE
-----------------------------------------------------------------------------------------------------------*/
/*Background image positioning and sizing
 - adds a transition for height of image section for smaller screens*/
#image-about {
	background-image: url(../img/desktop.jpg);
	font-family: 'Varela Round', Helvetica Neue, Helvetica, sans-serif;
	height: 60vh;
	transition: height 0.8s;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/*Positioning and sizing of profile image
 - adds transitions to adjust image size for smaller screens*/
#profile-pic {
	width: 240px;
	height: auto;
	position: absolute;
	top: 60%;
	transition: top 0.8s;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	border: 4px solid white;
	border-radius: 50%;
}

/*Styling for body section of about page
 - adds font and positioning, as well as transition to adjust size*/
#bio {
	font-family: 'Karla', Helvetica Neue, Helvetica, sans-serif;
	margin-top: 140px;
	transition: margin-top 0.5s;
	font-size: 1.3em;
	max-width: 750px;
	margin-bottom: 3em;
}

/*Optimizes for medium sized laptop screens
 - adjusts profile pic size
 - adjusts position of about header*/
@media screen and (max-width: 1280px) {
	.profile-pic {
		width: 300px;
	}
}
/*Optimizes for mobile devices
 - changes font size of bio section and about header*/
@media screen and (max-width: 768px) {
	.bio {
		font-size: 1.1em;
	}
	.about {
		font-size: 20pt;
	}
}
/*Optimizes for smartphone screens
 - adjusts position of bio section
 - adjusts size of profile pic*/
@media screen and (max-width: 480px) {
	.bio {
		margin-top: 100px;
	}
	.profile-pic {
		width: 20px;
	}
}


/*STYLING FOR CONTACT PAGE
-----------------------------------------------------------------------------------------------------------*/
/*Style for Contact page background image
 - positions image and changes font of text*/
div.image-contact {
	background-image: url(../img/sunset.jpg);
	font-family: 'Varela Round', Helvetica Neue, Helvetica, sans-serif;
	height: 60vh;
	transition: height 0.8s;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/*style for contact title (text over background image)
 - positions on page, and changes font color*/
.sectiontitle {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

/*Style for body of contact page
 - sets body font, and aligns text to center*/
.contact {
	font-family: 'Karla', Helvetica Neue, Helvetica, sans-serif;
	text-align: center;
	font-size: 1.3em;
	max-width: 750px;
}

/*Adjusts positioning of "get in touch" text*/
h3#getintouch {
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
/*adjusts position of text before icons*/
p#text-before-icons {
	margin-top: 50px;
	margin-bottom: 20px;
}

/*Style for icons
 - adjusts position of icon div, and icons in relation to each other
 - changes colors of the links, and addes a rounded border to each icon*/
div#icons {
	text-align: center;
	margin-bottom: 2em;
}
.social-icon {
	margin-left: 10px;
	margin-right: 10px;
}
i {
	color: black;
	padding-top: 5px;
	border: solid 2px;
	border-radius: 50%;
	width: 45px;
	height: 45px;
}
i:hover {
	color: #6699ff;
}