/*positions logo in navbar*/
img.brand-logo {
	height: 61px;
	padding-left: 30px;
	padding-bottom: 5px;
}

/*makes navbar links inline and spaces them out*/
nav li {
	display: inline;
	padding-right: 30px;
	text-align: left;
}

/*gets rid of underline links on hover*/
a:hover {
	text-decoration: none;
}