<!-- about.html -->
<div class="image-about">
	<img class="circle z-depth-4 profile-pic" src="../img/julian.jpg">
</div>
<div class="container bio">
	<h2 class="about">About Me</h2>
	<p>Hi! My name is Julian Bossiere and I'm currently an undergraduate student at University of Washington, working towards a BS in Informatics - the study of people, technology and information. I had my first ever programming experience in a basic Java programming class a couple years ago, and really enjoyed it, but was looking for something a bit more visually creative.  I've discovered that I love both design and coding.</p>

	<p>Besides coding and design, <a class="easteregg" target="_blank" href="https://www.youtube.com/user/himatsuri">I'm passionate about playing music. I love to sing, and play piano and guitar</a>. I also enjoy learning foreign languages (지금은 한국어를 배우고 日本語も流暢に話せます！).  Being half-Japanese, I've grown up with a mix of two cultures, and this has added to my appreciation of foreign languages, and in extension, I believe, coding languages.</p>

	<h2 class="about">Skills</h2>
	<p>Skills paragraph</p>

</div>