<!-- About page main image.  Also contains profile image, which is styled through the Materialize library -->
<div class="image-about">
	<img class="circle z-depth-4 profile-pic" src="./img/julian.jpg">
</div>

<!-- Main about me body section.  Regular text, that contains an easter egg link. -->
<div class="container bio">
	<h2 class="about">About Me</h2>
	<p>Hi! My name is Julian Bossiere and I'm currently an undergraduate student at University of Washington, working towards a BS in Informatics - the study of people, technology and information. Although I'm still fairly new to it, I'm lucky to have discovered that I love both design and coding!</p>

	<p>Besides coding and design, <a class="easteregg" target="_blank" href="https://www.youtube.com/user/himatsuri">I'm passionate about playing music. I love to sing, and play piano and guitar</a>. I also enjoy learning foreign languages (지금은 한국어를 배우고 日本語も流暢に話せます！).  Being half-Japanese and living there for part of my life, I've grown up with a mix of cultures and this has added to my appreciation of foreign languages, and in extension, I believe, coding languages.</p>

	<h2 class="about">Skills</h2>
	<p>Currently, I'm developing my skills in both design and coding.  I've learned how to build mobile-first, dynamic, and responsive websites/web apps using my design thinking skills in combination with HTML5, CSS3, JavaScript.  I've accomplished this through frameworks such as, Bootstrap 3 and AngularJS, and libraries like jQuery/AJAX.</p>

	<p>This year, I'm looking forward to also learning server-side web development and how to use data structures and algorithms.</p>

</div>