<div id="image-contact">
	<div class="sectiontitle">
		<h1 class="title animated fadeInUp">Contact</h1>
	</div>
</div>

<div class="container-fluid text-body" id="contact">
	<h3 id="getintouch">Get in Touch</h3>
	<p>The easiest way to get in contact with me is through email.</p>
	<a id="emailAddress" href="mailto:julianbossiere@gmail.com">julianbossiere@gmail.com</a>
	<p id="text-before-icons">But if email isn't your thing, you can find me on social media as well.</p>
</div>

<div id="icons" class="container-fluid">
	<a class="social-icon" target="_blank" href="https://www.facebook.com/himatsuri"><i class="fa fa-facebook fa-2x"></i></a>
	<a class="social-icon" target="_blank" href="https://www.linkedin.com/in/julianbossiere"><i class="fa fa-linkedin fa-2x"></i></a>
	<a class="social-icon" target="_blank" href="https://github.com/jbossiere"><i class="fa fa-github fa-2x"></i></a>
</div>